{% extends "base.html" %}

{% block content %}

<main class="mt-5 pt-4">
  <div class="container dark-grey-text mt-5">


    <h4 class="my-4 h4 text-center">Product information</h4>

    <!--Grid row-->
    <div class="row wow fadeIn">


      <!--Grid column-->
      <div class="col-md-6 mb-4">

        <img src="{{object.image.url}}" class=" img-fluid" alt="">

      </div>
      <!--Grid column-->

      <!--Grid column-->
      <div class="col-md-6 mb-4">

        <!--Content-->
        <div class="p-4">

          <div class="mb-3">
            <a href="">
              <span class="badge purple mr-1">{{ object.get_category_display }}</span>
            </a>
          </div>

          <h5 class="font-weight-bold">{{ item.title }}</h5>

          <p class="lead">
            {% if object.discount_price %}
            <span class="mr-1">
              <del>¥{{ object.price }}</del>
            </span>
            <span>¥{{ object.discount_price }}</span>
            {% else %}
            <span>¥{{ object.price }}</span>
            {% endif %}
          </p>

          <p class="lead font-weight-bold">Description</p>

          <p>{{ object.description }}</p>

          {% comment %} <form class="d-flex justify-content-left">
            <!-- Default input -->
            <input type="number" value="1" aria-label="Search" class="form-control" style="width: 100px">
            <button class="btn btn-primary btn-md my-0 p" type="submit">
              Add to cart
              <i class="fas fa-shopping-cart ml-1"></i>
            </button>

          </form> {% endcomment %}
          <a href="{{ object.get_add_to_cart_url }}" class="btn btn-primary btn-md my-0 p">
            カートに追加
            <i class="fas fa-shopping-cart ml-1"></i>
          </a>
          <a href="{{ object.get_remove_from_cart_url }}" class="btn btn-danger btn-md my-0 p">
            カートから削除
          </a>

        </div>
        <!--Content-->

      </div>
      <!--Grid column-->

    </div>
    <!--Grid row-->

    <hr>

    <h4 class="my-4 h4 text-center">Shop information</h4>

    <!--Grid row-->
    <div class="row d-flex justify-content-center wow fadeIn">

      <div class="col-md-6 mb-4 text-center">
        <img src="{{ item.shop.image.url}}" class="img-fluid" alt="">
      </div>


      <!--Grid column-->
      <div class="col-md-6 mb-4">
        <div class="p-4">

          <h5 class="font-weight-bold">{{ item.shop.name }}</h5>
          <p p>{{ item.shop.business_hour }}</p>
          <p class="font-weight-bold">Description</p>

          <p>{{ item.shop.description }}</p>

          <a href="{{ object.shop.gather_link }}" class="btn btn-secondary btn-md p" target="_blank">
            販売者とオンラインで話す
          </a>

        </div>
      </div>
    </div>
    <!--Grid row-->

    <hr>

    <h4 class="my-4 h4 text-center">販売者とオンラインで話すとは？？</h4>
    <div class="row d-flex justify-content-center wow fadeIn">
      <div class="col-md-6 mb-4">
        <img src="/media/gather.avif" alt="" class=" img-fluid">
        <img src="/media/gather-room.png" alt="" class=" img-fluid">
      </div>

      <div class="col-md-6 mb-4">
        <p>Gatherというオンラインコミュニケーションサービスを使用して、生産者の口からこだわりを語ってもらう事ができます！</p>
        <p>上記サービスの利用には、アカウント登録が必要ですので、お手持ちのgoogleアカウントもしくはemailを用いて作成ください。</p>
        <p>※上記営業時間中にのみ滞在しています。(たまにいないことがありますがご容赦ください)</p>
      </div>
    </div>

  </div>
</main>

{% endblock content %}